:root{
    --halexpink1:#BF547B;
    --halexpink2:#BF7892;
    --halexblue1:#03658C;
    --halexgray1:#BFBFBF;
    --halexyellow1:#BFA34E;
    --textcolor1: #07394d;
    --produzido: #0ccd57;
    --produzindo: #36a2eb;
    --previsto: #ffcd57;
    --atrasado: #ff6384;
}
h1 {
  color: var(--red);
}
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0px;
    background-color:white;
}
.dashboard{
    padding: 0px 15px;
    margin: 0 auto;
}
/* ==================================
Navigation
=====================================*/
.dashboard .navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color:var(--halexblue1);
}
.dashboard .navigation img.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.dashboard .navigation img.user{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.dashboard .navigation div .material-icons-outlined{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: white;
}
.dashboard .navigation div{
    margin-top: 10px;
}
/* ==================================
Main Project
=====================================*/
.dashboard .main .search form{
    margin-top: 50px;
    position: relative;
}
.dashboard .main .search form input{
    width: 100%;
    font-size: 16px;
    padding: 10px 10px 10px 60px;
    border: 1px solid --halexblue1;
    background-color: white;
}
.dashboard .main .search form span{
    position: absolute;
    left: 15px;
    top: 10px;
    color: #727272;
}
.dashboard .main .search .notification{
    margin-top: 20px;
    color: var(--textcolor1);
}
.dashboard .main .search .notification span:nth-child(1){
    margin-right: 15px;
}

/*My Project*/

.dashboard .main .title{
    margin-bottom: 30px;
}
.dashboard .main .title h1{
    font-size: 35px;
    color: var(--textcolor1);
    line-height:normal;
}
.dashboard .main .title form{
    margin-top: 40px;
}
.dashboard .main .title form label{
    margin-right: 15px;
    color: var(--textcolor1);
    font-size: 16px;
}
.dashboard .main .title form select{
    font-size: 16px;
    border-color: var(--textcolor1);
    color: var(--textcolor1);
}
/*Project List*/
.dashboard .main .project_list .project h2{
    font-size: 20px;
    line-height: 0;
    color: white;
}
.dashboard .main .project_list .project p{
    color: whitesmoke;
}
.dashboard .main .project_list .project ul{
    list-style: none;
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
}
.dashboard .main .project_list .project ul li{
    position: relative;
    color: lightgray;
    margin-left: 15px;
}
.dashboard .main .project_list .project ul li::before{
    content: "\268A";
    position: absolute;
    left: -15px;
    top: -5px;
}
.dashboard .main .project_list .project .meta img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 4px solid aliceblue;
}

.dashboard .main .project_list .project .meta img.stack{
    margin-left: -20px;
}
.dashboard .main .project_list .project .meta {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.dashboard .main .project_list .project .meta .material-icons-outlined{
    color: white;
}
.dashboard .main .project_list .project {
    padding: 20px 20px 20px 60px;
    background-color: var(--halexblue1);
    box-shadow: 1px 1px 40px rgba(0 0 0 / 0);
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.dashboard .main .project_list .project .category {
    width: 30px;
    height: 30px;
    background-color: rebeccapurple;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 0;
}
.dashboard .main .project_list .project .GrupoEquipamento .titulo1{
    color: white;
    font-weight: bold;
}
.dashboard .main .project_list .project .GrupoEquipamento .dado1{
    color: white;
}
.dashboard .main .project_list .project .GrupoLote .titulo2{
    color: white;
    font-weight: bold;
}
.dashboard .main .project_list .project .GrupoLote .dado2{
    color: white;
}
.dashboard .main .project_list .project .GrupoData .titulo3{
    color: white;
    font-weight: bold;
}
.dashboard .main .project_list .project .GrupoData .dado3{
    color: white;
}


.category_color1{
    background-color:var(--produzido) !important ;
}
.category_color2{
    background-color:var(--produzindo) !important ;
}
.category_color3{
    background-color:var(--previsto) !important ;
}
.category_color4{
    background-color:var(--atrasado) !important ;
}
/* ==================================
Secondary Statistics
=====================================*/
/*Chart*/
.dashboard .secondary .chart .complete {
    text-align: center;
    margin: 40px 0px ;
    color: white;
}
.dashboard .secondary .chart .complete h3{
    line-height: 0px;
    color: white;
}
.dashboard .secondary h2{
    color: white;
}
.dashboard .secondary .chart .complete p{
    color: white;
}

.dashboard .secondary .chart .myChart{
    color: white;
}
/*Recent Projects*/
.dashboard .secondary .recent_projects .listing h2{
    line-height: 0px;
}
.dashboard .secondary .recent_projects .listing p{
    color: white;
}
.dashboard .secondary .chart{
    background-color: var(--halexblue1);
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 16px;
}
.dashboard .secondary .recent_projects .listing{
    display: flex;
    justify-content: space-between;
    color: white;
}

.dashboard .secondary .recent_projects{
    background-color: var(--halexblue1);
    padding: 15px 15px 15px 60px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 16px;
}

.dashboard .secondary .recent_projects .category{
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: absolute;
    left: 10px;
    margin-top: 20px;
}